{%extends 'layout.html'%}

{%block body1%}
<!--Services-drill-own-->
<section>
    <div class="page-header">
        <h2>Service Details</h2>
      </div>
      <div class="container">
        <div class="card ">
            <h2></h2>
            <!--<h5>Title description, Dec 7, 2017</h5>-->
            <img src="{{url_for('static',filename='theme-pics/pic1.jpg')}}" class="d-block w-100 h-100 opacity-25">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="text-dark h3">ICT Consultancy</h3>
                <p class="text-dark">As you focus on your core business, Levits’ team of seasoned consultants will advise on the design, 
                    structure, and efficiency of your organization’s ICT systems or specific projects. We will produce business needs assessments 
                    and develop information systems solutions that meet the objectives of the organization or project.
                    We will collaborate with you on end-to-end Project management.</p>
              </div>
            
        </div>
        
        <h4>Benefits</h4>
        <ul>
            <li>
                <h4>Keep your employees focused on primary operations</h4>
            </li>
            <li>
                <h4>Manage and minimize any technical risks associated with IT project management</h4>
                
            </li>
            <li>
                <h4>ICT Consultancy saves cost as It is project based</h4> 
            </li>
        </ul>
        <br><br>
      </div>
        
</section>
{%endblock body1%} 