{%extends 'layout.html'%}

{%block body1%}
<!--Services-drill-own-->
<section>
    <div class="page-header">
        <h2>Service Details</h2>
      </div>
      <div class="container">
        <div class="card">
            <h2>Security Solutions</h2>
            <!--<h5>Title description, Dec 7, 2017</h5>-->
            <img src="{{url_for('static',filename='theme-pics/pic1.jpg')}}" class="img-fluid" alt="Responsive image" style="width: 100%;
            height: 150; img-center background-size: cover; border: 1px solid rgb(252, 244, 244);">

            <p>Some text..</p>
        </div>
        <p class="lh-base p-2">Build cost-effective, modular, best-in-class physical security solutions that interoperate with your existing systems. 
            Engineered with network and video expertise, Physical Security Solutions: Include video surveillance, access control, and incident response and notification.
        </p>
        <h4>We offer</h4>
        <h3>Our team of experts are able to provide the following products and services:</h3>
        <ul>
            <li>
                <h4 >General Supplies for Computers, Printers and accessories to equip your organization with modern hardware applications</h4>
            </li>
            <li>
                <h4>CCTV System Installation</h4>
                <p>
                </p>
            </li>
            <li>
                <h4>Access control</h4> 
                <p>
                </p>
            </li>
            <li>
                <h4>Electric wall fencing</h4> 
                <p>
                </p>
            </li>
            <li>
                <h4>Solar Flood Lights and Street Lights</h4>
            </li>
        </ul>
        <br><br>
      </div>
        
</section>
{%endblock body1%} 