{%extends 'layout.html'%}

{%block body1%}
<!--Services-drill-own-->
<section>
    <div class="page-header">
        <h2>Service Details</h2>
      </div>
      <div class="container">
        <div class="card">
            <h2>Hardware and Infrastructure</h2>
            <!--<h5>Title description, Dec 7, 2017</h5>-->
            <img src="{{url_for('static',filename='theme-pics/pic1.jpg')}}" class="img-fluid" alt="Responsive image" style="width: 100%;
            height: 150; img-center background-size: cover; border: 1px solid rgb(252, 244, 244);">

            <p>Some text..</p>
        </div>
        <p>As your organization grows in size and complexity, the lack of flexible, 
            efficient network infrastructure can leave your business vulnerable to several challenges. 
            Our network infrastructure and unified communication solutions can help you reduce your costs, 
            improve business flexibility and effectively manage users while more easily.
        </p>
        <h4>We offer</h4>
        <ul>
            <li>
                <h4>General Supplies for Computers, Printers and accessories to equip your organization with modern hardware applications</h4>
            </li>
            <li>
                <h4>Structured cabling</h4>
                <p>Having a professionally designed network infrastructure is core to ensuring availability of resources, quality, predictability and cost efficiency.
                    At Levit we offer a comprehensive unified approach to ICT infrastructure at a manageable cost to your business.
                </p>
            </li>
            <li>
                <h4>Service and maintenance</h4> 
                <p>Your business runs on inter connected network devices that must be regularly maintained to prevent unexpected failures.
                Our Solution combines system, hardware and network scheduled maintenance as an outsourced service.
                </p>
            </li>
        </ul>
        <br><br>
      </div>
        
</section>
{%endblock body1%} 