{%extends 'layout.html'%}

{%block body1%}
<!--Services-drill-own-->
<section>
    <div class="page-header">
        <h2>Service Details</h2>
      </div>
      <div class="container">
        <div class="card">
            <h2>Software Solutions</h2>
            <!--<h5>Title description, Dec 7, 2017</h5>-->
            <img src="{{url_for('static',filename='theme-pics/pic1.jpg')}}" class="img-fluid" alt="Rwidth: 100%;
            height: 150; img-center background-size: cover; border: 1px solid rgb(252, 244, 244);">

            <p>Some text..</p>
        </div>
        <p class="lh-base">Modern organizations operate under the ever-increasing pressure to digitalize their operations and to keep up with new technological advancements.
            Levit can help you undertake in-depth business analysis to identify opportunities for business process re-engineering and automation.<br>
            We will collaborate with you to identify your needs and establish requirement specifications to scale or upgrade your systems. 
        </p>
        <h4>We offer</h4>
        <ul>
            <li>
                <h4>Microsoft Dynamics 365</h4>
            </li>
            <li>
                <h4>Microsoft 365</h4>
                <p>
                </p>
            </li>
            <li>
                <h4>Quick books</h4> 
                <p>
                </p>
            </li>
            <li>
                <h4>POS Systems</h4> 
                <p>
                </p>
            </li>
        </ul>
        <br><br>
      </div>
        
</section>
{%endblock body1%} 