{%extends 'layout.html'%}

{%block body1%}
<!--Services-drill-own-->
<section>
    <div class="page-header">
        <h2>Service Details</h2>
      </div>
      <div class="container">
        <div class="card">
            <h2>Website Development</h2>
            <!--<h5>Title description, Dec 7, 2017</h5>-->
            <img src="{{url_for('static',filename='theme-pics/pic1.jpg')}}" class="img-fluid" alt="width: 100%;
            height: 150; img-center background-size: cover; border: 1px solid rgb(252, 244, 244);">

            <p>Some text..</p>
        </div>
        <p>
            At Levit, we are dedicated to delivering cutting-edge website design that sets your business apart. 
            Our team of experienced designers use the latest design trends and technologies to create visually stunning websites that engage and captivate your target audience.<br>
            Our approach to design is centered around creating a seamless user experience, and we use data-driven insights to ensure that your website is both aesthetically pleasing and highly functional. 
            Whether you’re looking for a simple brochure site or to build a complex interactive experience, our designers have the creativity and technical skills to bring your vision to life. With our commitment to using the latest design 
            trends and technologies, you can trust that your website will stay ahead of the curve and set you apart from the competition.
        </p>
        <br><br>
      </div>
        
</section>
{%endblock body1%} 